<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050488389063-7u0ssesujojphj7ir7tjri0ncth48qql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050488389063-7u0ssesujojphj7ir7tjri0ncth48qql</string>
	<key>API_KEY</key>
	<string>AIzaSyA7zYH9sEZzaqmCOTjdOel_WzGx-KXJ3Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>1050488389063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNotesFlutter</string>
	<key>PROJECT_ID</key>
	<string>my-notes-b76ff</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-b76ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050488389063:ios:3fff8d5a2eb40de81c2de2</string>
</dict>
</plist>